<h1>Editing Last System Changing</h1>

<%= render 'form', last_system_changing: @last_system_changing %>

<%= link_to 'Show', @last_system_changing %> |
<%= link_to 'Back', last_system_changings_path %>
