<p id="notice"><%= notice %></p>

<p>
  <strong>Changing date:</strong>
  <%= @last_system_changing.changing_date %>
</p>

<%= link_to 'Edit', edit_last_system_changing_path(@last_system_changing) %> |
<%= link_to 'Back', last_system_changings_path %>
